*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    /* height: 100%; */
    font-family: 'Open Sans' 'Tinos';
    color: #FFFFFF;
    background-color: #ffffff;
}

.header{
    background-image: url(img/heroimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    margin: 0;
}
.container{
    max-width: 1440px;
    padding: 0 165px;
    margin: 0 auto;
    overflow: hidden;
}
.header__inner{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}
.logo{
    /* display: flex; */
    position: relative;
    /* height: 200px; */
    width: 150px;
    padding-right: 300px;
}
.logo__part1{
    position: absolute;
    top: 0;
    left: 0;
    width: 48.06px;
    height: 48.06px;
    border: 3px solid #FF7400;
    transform: rotate(-45deg);
}
.logo__part2{
    top: 0;
    left: 32px;
    position: absolute;
    width: 48.06px;
    height: 48.06px;
    border: 3px solid #FF7400;
    transform: rotate(-45deg);
}
.nav{
    width: 100%;
    height: 100px;
    /* margin-left: 50px; */
}
.nav__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link{
    display: block;
    font-family: 'Open Sans';
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 50%;
    white-space: nowrap;
    padding-right: 23px;
}
.nav__link:hover{
    opacity: 100%;
}
.icon{
    height: 20px;
    width: 20px;
    fill: #FFFFFF;
}
.border{
    width: 0;
    height: 51px;
    border: #FFFFFF solid 1px;
    margin-right: 10px;
}
.nav__inner ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    height: 65px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}
.nav__inner ul li:last-child{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    width: 154px;
}
.btn{
    background: #FF7400;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF; 
    padding: 14px 18px;
    white-space: nowrap;
}
.btn:hover{
    background-color: #de570e;
}
.btn1{
    width: 157px;
    height: 47px;
    margin-left: 10px;
}
.btn1 a{
    color: #FFFFFF;
    text-decoration: none;
}
.btn2{
    display: none;
}

.header__titles{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    color: #D67E35;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
}
.header__title1{
    font-size: 50px;
    line-height: 57px;
}
.header__title2{
    font-size: 80px;
    line-height: 92px;
}
.header__title3{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
}
.header__title3::before{
    content: '';
    position:absolute;
    top: 12px;
    left: -40%;
    height: 2px;
    width: 61px;
    background: #C4C4C4;
}
.header__title3::after{
    content: '';
    position:absolute;
    top: 12px;
    right: -40%;
    height: 2px;
    width: 61px;
    background: #C4C4C4;
}
/* INTRO */
.intro{
    width: 100%;
    height: 100%;
    margin-top: -150px;
}
.intro__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.intro__item{
    margin-top: 20px;
    /* margin-right: 20px; */
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    height: 328px;
    background-color: rgb(255, 255, 255);
        border: 1px solid #ff9500;
}
.intro__img{
    margin-top: 30px;
    width: 126px;
    height: 104px;
}
.intro__img img{
    width: 126px;
    height: 104px;
}
.intro__title{
    margin-top: 10px;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}
.intro__title span{
    color: #BC9060;
}
.intro__text{
    margin-top: 20px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    color: #656363;
}

/* STORY */
.story{
    margin-top: 150px;
    width: 100%;
    /* height: 1000px; */
}
.story__inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.story__part1{
    /* width: 80%; */
    /* height: 620px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: 100px; */
    /* margin-left: -100px; */
    height: 100%;
    margin-bottom: 100px;
}
.story__title{
    font-size: 54px;
    line-height: 62px;
    color: #000000;
}
.story__title span{
    color: #D67E34;
}
.story__text{
    margin-top: 20px;
    width: 70%;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #656363;

}
.story__container{
    font-family: 'Open Sans';
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
}
.story__item{
    /* margin-right: 40px; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100px;
}
.item__num{
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #BC9060;
}
.item__type{
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}
.layer{
    width: 100%;
    background-image: url(img/Story/delicious.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.layer__color{
    background-color:  rgba(0, 0, 0, 0.85);
    height: 357px;
}
.layer__inner{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 357px;
    flex-wrap: wrap;
}
.layer__content{
    width: 50%;
    margin:auto;
     display: flex; 
     flex-direction: column; 
     align-items: center;
    justify-content: center; 
    text-align: center;
}
.layer__title{
    font-family: 'Tinos';
    font-size: 45px;
    line-height: 60px;
    color: #D67E34;
}
.layer__text{
    margin-top: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}
.layer__content2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn3{
    /* margin: auto; */
    width: 157px;
    height: 47px;
    background: #FF7400;
    position: relative;
}
.btn3 a{
    color: #FFFFFF;
    text-decoration: none;
    position: absolute;
    top: 14px;
    left: 18px;
}
menu{
    /* overflow: hidden; */
}
.menu__title{
    margin-top: 50px;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    text-align: center;
}
.menu__title span{
    color: #D67E34
}
.section{
    max-width: 1440px;

    color: #000000;
    padding: 20px;
   
    width: 90%;
    margin: 40px auto;
    
    background-color: rgb(15, 12, 10);
    border: #D67E34 4px solid;
    border-radius: 13px;
    position: relative;
}
.section ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;

}
.section ul li{
    background: rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    list-style-type: none;
    border-radius: 15px;
    border: #FF7400 2px solid;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    user-select: none;
    text-align: center;
    /* line-height: 38px;
    min-width: 30px; */
    /* height: 68px; */
}
#all{
    line-height: 45px;
    
}
.section ul li img{
width: 40px;
height: 40px;
}
body > div.section > ul > svg{
    width: 40px;
    height: 40px;
    fill: #ffffff;
    /* margin-left: 50px; */
    position: absolute;
    top: 25px;
    right: 10px;

}

.js__btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    bottom: 0;  
    right: 0;
}
.btn-style{
    background-color: #000000;
    width: 40px;
    height: 40px;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border: #de570e 1px solid;
    margin-right: 5px;
    margin-bottom: 5px;
    opacity: 50%;
}
.btn-style:hover{
    opacity: 100%;
}
.list.sss{
    background-color: #ffffff;
    color: #000000;
}
.list{

    width: fit-content;
    height: fit-content;
    white-space: nowrap;
}
.slider{
    margin: 0 auto;
    position: relative;
}
.slider .slick-arrow{
    position: absolute;
    z-index: 10;
    top: 40%;
    /* font-size: 0; */
    width: 40px;
    height: 40px;
    font-size: 0;
    background-color: #000000;
    border: #D67E35 3px solid;
    border-radius: 50%;
    z-index: 10;
    fill: #D67E34;
    padding: 5px;
}
.slider .slick-disabled{
    opacity: 50%;
}
.slider .slick-arrow.slick-prev{
    left: -15px;
}
.slider .slick-arrow.slick-next{
    right: -15px;
    /* padding: 10px; */
    transform: rotate(180deg);
}

/* .slider__item, */
.slider .slider__item img{
    width: 300px;
    height: 300px;
    border: 3px solid #c47200;
    border-radius: 5%;
}
.slider .slider__item{
    margin: 15px;
    opacity: 50%;
}
.slider .slider__item.slick-center{
    opacity: 100%;
}
footer{
    background-color: #141313;
    padding: 70px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    /* background-color: #2C2C2C; */
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #c47200;
    margin-bottom: 30px;
    position: relative;
    font-weight: 400;
}
.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ad9b82;
    height: 2px;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform:capitalize;
    color: #c4c4c4;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #FFFFFF;
    padding-left: 7px;
}
.social-links{
    display: flex;
    flex-wrap: nowrap;
}
.social-link{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ffffffdf;
    border-radius: 50%;
    transition: all 0.3s ease;
    border: #ffffff 3px solid;
    width: fit-content;
    height: fit-content;
}
.svg-icon{
    display: block;
    width: 35px;
    height: 35px;


}
.social-link:hover{
    border-color: #bb998e;

}

/* BOX */
.box{
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    padding: 100px 0;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
.box__item{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
body > div.box > div > div:nth-child(2) > div.box__title{
    margin-top: 30px;
}
.box__title{
    background: #141313;
    /* text-transform: uppercase; */
    color: #fff;
    position: relative;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #c47200;
}

.box__title::after{
    content: "+";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 900;
}

.content{
    display: none;
    position: relative;
    height: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    /* border: black 1px solid; */
    padding: 10px;
    border: 1px solid #c47200;
}
.content p{
    margin: 10px;
}
.content img{
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.box__item.actived .content{
    height: 100%;
    /* overflow-y: scroll; */
    display: block;

}
.box__item.actived .itembox:last-child{
    margin-bottom: 100px;

}
.box__item.actived .box__title::after{
 content: "-";
}



ul{
    list-style: none;
}
@media(max-width:1365px){
    .btn.btn1{
        display: none;
    }
    .btn2{
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF7400;
        width: 137px;
        height: 47px;
    }
    .btn2 a{
        color: #FFFFFF;
        text-decoration: none;
    }
    .story__part1{
        width: 100%;
    }
    .story__img1{
        position: absolute;
        left: 0px;
        top: 50px;
        z-index: 2;
    }
    .story__img2{
        position: absolute;
        left: 170px;
        
    }
    .story__img3{
        position: absolute;
        left: 260px;
        top: 185px;
    }
    .story__text{
        width: 50%;
    }

}
/* ADAPT MENU PARTS */
@media(max-width: 1260px){
    .menu__inner{
        flex-wrap: wrap;
       /* height: 1200px; */
    }
    .menu__part1 img{
        display: none;
    }
    .menu__full__img{
        background-image: url(img/Menu/pizza2.jpg);
        /* background-position: center; */
        background-repeat:no-repeat;
        background-size: cover;
        width: 100%;
        height: 511px;
    }
    .menu__part2{
        width: 100%;
        margin-top: 20px;
    }
}
/* hide info */
@media(max-width:1130px){
    .nav__inner ul{
        display: none;
    }
    .border{
        display: none;
    }
}
/* Notebooks/Thin width */
@media(max-width:1024px){
    body{
        overflow: scroll;
    }
    body.lock{
        overflow: hidden;
    }
    .container{
        max-width: 1024px;
        padding: 0 100px;
    }
    .border{
        display: none;
    }
    .nav{
        width: 31px;
        display: flex;
        margin: 0;
    }
    .nav__inner{
        display: block;
        margin-top: 25px;
    }
    .nav__link{
        border-bottom: #FFFFFF 1px solid;
        padding: 15px;
    }
    .nav__inner ul{
        display: none;
    }  
    .nav__inner .btn, .btn1{
        display: none;
    }
    .header__burger{
            position: fixed;
            display: block;
            width: 30px;
            height: 30px;
            position: relative;
            z-index: 3;
            overflow: hidden;
    }
    .header__burger::before, .header__burger::after{
            content: '';
            background: #FF7400;
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            transition: all 0.3s ease 0s;
            z-index: 1000;
    }
    .header__burger span{
        position: absolute;
        background: #FF7400;
        left: 0;
        top: 14px;
        width: 100%;
        height: 4px;
        
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active::before
    {
        background-color: red;
        transform: rotate(45deg);
        top: 13px;
        left: 0;
    }
    .header__burger.active::after {
        background-color: red;
        transform: rotate(-45deg);
        bottom: 13px;
        left: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu{
        overflow: auto;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        opacity: 80%;
        padding: 70px 10px 20px 10px;
    }
    .header__menu.active{
        top: 0;
        transition: 0.5s;
    }
    .header__titles{
        margin: 170px auto;
    }
    .layer__content{
        width: 100%;
    }
    .layer__content2{
        width: 100%;
    }
    .slider .slider__item,
    .slider .slider__item img{
        width: 200px;
        height: 200px;
    }
}
/* IPAD PLANSHET */
@media(max-width:768px){
    .header{
        background-position: center;
    }
    body .header__titles{
        padding: 0 -80px;
        margin-top: 120px;
    }
    .container{
        max-width: 768px;
        margin: 0 auto;
        padding: 0 80px;
    }
    .logo{
        padding: 0;
    }
    .logo__part1{
        width: 31.77px;
        height: 31.77px;
    }
    .logo__part2{
        width: 31.77px;
        height: 31.77px;
        left: 19px;
    }
    .header__titles{
        margin-top: 170px;
        width: 100%;
        white-space: nowrap;
        /* background-color: rgba(0, 0, 0, 0.737); */
    }
    .header__title1{
        font-size: 30px;
        line-height: 30px;
    }
    .header__title2{
        font-size: 50px;
        line-height: 80px;
    }
    .header__title3{
        font-size: 20px;
        line-height: 20px;
    }
    .story__title, .menu__title{
        font-size: 37px;
    }
    .story__text{
        width: 330px;
    }
    .layer__title{
        font-size: 39px;
        line-height: 35px;
    }
    .layer__text{
        font-size: 25px;
        line-height: 35px;
    }
    .btn3{
        margin-top: 41px;
    }
    .slider .slider__item,
    .slider .slider__item img{
        width: 150px;
        height: 150px;
    }

    .section ul{
        /* justify-content: center; */
        
    }
    .section ul li{
        margin: 7px 5px;
        padding: 5px;
    }
    #all{
    line-height: 35px; 
    font-size: 15px;   
    }
    .section ul li img{
    width: 25px;
    height: 25px;
    }

.swiper-button-prev::after, .swiper-button-next::after{
    display: none;
}
    body > div.section > ul > svg{
        width: 20px;
        height: 20px;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
/* MOBILE */
@media(max-width:480px){
    .header{
        margin-right: -100px;
    }
    .container{
        max-width: 480px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .logo{
        padding: 0;
    }
    .logo__part1{
        width: 21.77px;
        height: 21.77px;
    }
    .logo__part2{
        width: 21.77px;
        height: 21.77px;
        left: 14px;
    }
    .header__titles{
        width: 100%;
        margin-top: 170px;
    }
    .header__title1{
        font-size: 30px;
        line-height: 34px;
    }
    .header__title2{
        font-size: 40px;
        line-height: 46px;
    }
    .header__title3{
        font-size: 15px;
        line-height: 20px;
    }
    .header__title3::before,
    .header__title3::after{
        display: none;
    }
    /* INTRO */
    .intro__inner{
     
      margin: auto;
    }
    .intro__item{
        width: 276px;
        height: 276px;
        padding: 20px;
    }
    .intro__title{
        font-size: 22px;
        line-height: 25px;
    }
    .intro__text{
        margin: 0;
        font-size: 17px;
        line-height: 20px;
    }
    /* Story */
    .story{
        margin-top: 50px;
    }
    .story__container{
        flex-direction: column;
    }
    .story__title,
    .menu__title{
        text-align: center;
        line-height: 35px;
        font-size: 30px;
    }
    .story__text{
        width: 93%;
    }
    .layer__title{
        font-size: 30px;
        line-height: 34px;
    }
    .layer__text{
        font-size: 24px;
        line-height: 33px;
    }
    .btn3{
        margin-top: 41px;
    }
    /* Menu */
    .menu__part2{
        white-space: break-spaces;
        text-align: center;
        margin: 0 auto;
    }
    .menu__item__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu__border{
        display: none;
    }
    .menu__text,
    .menu__num{
        font-size: 22px;
        line-height: 25px;   
        text-align: center;     
    }
    #all{
        position: absolute;
        left: -5px;
        top: -35px;
        z-index: 2;
        /* border-radius: unset; */
        margin: 0;
    }
    .section ul li img{
        width: 20px;
        height: 20px;
        }
    .btn-style{
        width: 30px;
        height: 30px;
    }
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}